* {
  margin: 20px;
  padding: 10px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}



#position-button
{position:center;}

.button {
  background-color: grey;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  border: 1px grey;

}



