* {
  margin: 20px;
  padding: 10px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}


#position {
  background-color: #F8F8FF;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  border: 1px grey;
}


#logout{
  background-color: #F8F8FF;
  color: white;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  border: 1px grey;
  float:right;

}


#activities{
  background-color: #e0ebeb;
  color: black;
  padding: 0px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  border: 1px grey;
  float:left;
  line-height: 5px;
  width: 49%;
  color:#3d3d5c;
  text-transform: uppercase;
}

#details{
  color: black;
  padding: 0px;
  text-align: left;
  font-size: 20px;
  margin: 2px 2px;
}





