

 /* for mobile devices*/

*{
	margin: 0;
	padding: 0;
}



p{
  font-family:sans-serif;


}


body{
  font-family:sans-serif;
}






/* for desktop PCs */






.img-welcome {
	display: block;
	width:100%;
	padding-bottom:0px;
	height: 400px;
	padding-top:0px;

}


/* /////////////////////////////////////////////// */

#banner {
  
  
  width: 100%;
  height: 50px;
  font-size:50px;
  text-transform: uppercase;
  color:black;
  border-top: 30px solid #ebf6f9;
  border-bottom: 1px solid #ebf6f9;
  background-color: #ebf6f9;



}


#navbar{
	font-size: 20px;
	line-height: 50px;
   
}




nav{
	background-color:#ebf6f9;
	padding:10px;

}

ul {
	background-color:#ebf6f9;
	padding:10px;
	text-align:center;
}

li{
	background-color:#ebf6f9;
	color:black;
	margin: 5px;
	list-style-type: none;
	display:inline-block;

}

/* to change color of link items */
/* backround color of anchors */
a {
	color:black;
	
}

/* ////////////////////*/

/* to change color of link items */
/* backround color of anchors */


/*a {
	color:yellow;
	

}*/


	
.container1 {
  display: flex;
  border-top: 50px solid #f9f9fb;
  border-bottom: 0px solid #f9f9fb;
  border-right: 50px solid #f9f9fb;
  border-left: 50px solid #f9f9fb;
 
  align-content:space-around;


  }



  

.item1 {
border: 15px solid #f9f9fb;
padding: 10px;
background-color:#f9f9fb;
}
   


.item1text {


border: 5px solid transparent;
width: 100%;
height: auto;
align-items: stretch;
justify-content: space-around;
text-align: left;


}




img.photo1 {
  width: 100%;
  height: 280px;
  border-radius: 2px;
}





.item2 {
border: 15px solid #f9f9fb;
padding: 10px;
background-color:#f9f9fb;

}



 img.photo2 {
  width: 100%;
  height: 280px;
  border-radius:2px;
}




.item2text {

border: 5px solid transparent;
width: 100%;
height: auto;
align-items: stretch;
justify-content: space-around;
text-align: left;

}


.wrapper {
  color:black;
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}




.container2 {
  display: flex;
  border-top: 0px;
  border-bottom: 50px solid #f9f9fb;
  border-right: 50px solid #f9f9fb;
  border-left: 50px solid #f9f9fb;
  align-content:space-around;


  }



	  
#footer1 {
  padding:30px;
  font-size: 100%;
  background-color:#ebf6f9;
  position: relative;
  margin: 0;
  text-align:center;

  }



#footer-list{
	font-size:20px;
	line-height: 50px;
}


.home1 {
  
  color:#003b66;
  font-size: 140%;
  background-color: #ebf6f9;
  border-bottom: 5px solid #ebf6f9;
  border-left: 15px solid #ebf6f9;
  border-top: 15px solid #ebf6f9;


}









